#autocomp{
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	overflow-x: hidden; /*auto causes a hiórizontal scrollbar to appear (probably in order to compensate for the space the vertical bar took) as no explicit width is given, the menu still would just widen according to the items inside*/
	overflow-y: auto;
	max-height: 300px;
}

#autocomp li{
	list-style-type: none;
	font-size:12px;
	padding-left:5px;
	background-color:rgba(255, 255, 255);
}

#autocomp li.selected{
	background-color: #adcdd9;
}
